<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Todo Using EJS</title>
</head>
<body>
    <% var currentDay; %>

    <% function DateAndTime(){
        const weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
        const d= new Date(); 
        currentDay = `${weekday[d.getDay()]},${d.toString().slice(3,10)}`
        return currentDay; 
       
       
 } %>
 

    <div class="container">
    <div class="current-day"><%= DateAndTime() %></div>
    
